* {
    font-family: 'Quicksand', sans-serif;
}

.navbar {
    position: fixed;
}

.navbar-collapse {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

li {
    list-style-type: none;
    size: 20px;
    color: black;
}

.tituloCentral {
    position: absolute;
    top: 200px;
    height: auto;
    width: 400px;
    text-align: center;
    color:black;
}

h1 {
    font-family: "Cormorant Garamond", Sans-serif;
    font-size: 4rem;
    text-align: center;
    color: #2B2B2B;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 8px;
}

h2 {
    font-family: "DM Sans", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-weight: bolder;
    text-align: center;
    color: #2B2B2B;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.material-symbols-outlined {
    color: #e2e2e2;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.ornamentoClass {
    visibility: visible;
    width: 15rem;
}

.textCentral {
    font-family: "Cormorant Garamond", Sans-serif;
    padding-top: 8px;
    font-size: 27px;
    font-weight: 300;
    font-style: italic;
    line-height: 1em;
    letter-spacing: 2.9px;
}

/*  -----HEADER----- */
.linkBlanco {
    color: antiquewhite;
}

.linkBlanco:hover {
    color: antiquewhite;
    font-size: 18px;
}

.linkBlanco:visited {
    color: antiquewhite;
}

/*****/
.bg-light {
    background-color: #818181 !important;
    color: antiquewhite;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

/*-transicion imagen y zoom*/
/* .zoom {
    transition:initial; 

}

.zoom:hover {
    transform: scale(1.5); 
}
  */

main {
    background-image: url("../multimedia/portada.jpg");
    /* filter:sepia(30%) ;*/
    /*   filter: grayscale(1) blur(1px) contrast(1) sepia(0.5) blur(0.25px);*/
    /* -webkit-mask: radial-gradient(#000, #000a); */
    background-size: cover;
    background-position: center;
    padding-top: 300px;
    padding-bottom: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.contenedorPadrinos {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0.2rem;
    text-align: center;
    color: #2B2B2B;
    font-family: "Cormorant Garamond", Sans-serif;
    font-size: 35px;
    font-weight: 300;
    font-style: italic;
    line-height: 1em;
    margin-left: 4rem;
    margin-right: 4rem;
}

.contenedorPadrinos p {
    padding-bottom: 1rem;
}

.tituloPadrinos {
    color: #7A7A7A;
    font-family: "Cormorant Garamond", Sans-serif;
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
    line-height: 2em;
}

/* SECCION HORA */
.horaClass {
    font-family: "Cormorant Garamond", Sans-serif;
    background-image: url("../multimedia/fondoTiempo2.jpg");

    background-size: cover;
    background-position: center;
    padding-bottom: 400px;
    height: 300px;
}

.horaClass h3 {
    text-align: center;
    color: #4B4B4B;
    font-family: "Cormorant Garamond", Sans-serif;
    font-size: 45px;
    font-weight: 400;
    font-style: normal;
    line-height: 1em;
    letter-spacing: 3.5px;
}

.horaClass p {
    text-transform: uppercase;
    color: #818181;
    font-family: "Rufina";
    font-size: 27px;
    font-weight: 300;
    font-style: normal;
    line-height: 1em;
    letter-spacing: 2.9px;
}

.centradocolumn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: .7px;
    margin-top: 2rem;
    color: #818181;
    /* font-family: "Rufina";
    font-size: 27px;
    font-weight: 300;
    font-style: normal;
    line-height: 1em;
    letter-spacing: 2.9px;*/
}

.centradoDireccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: .7px;
    margin-top: 2rem;
    color: #818181;
    /* font-family: "Rufina";
    font-size: 27px;
    font-weight: 300;
    font-style: normal;
    line-height: 1em;
    letter-spacing: 2.9px;*/
}

.cuenta-atras {
    width: 100%;
    color: #4B4B4B;
    background-color: #fcf1f100;
    padding: 14px;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    border: none;
    /* padding: 30px 10px 25px 10px;*/
}

.formBorde {
    width: 100px;
    border: double .2rem #967c5e;
    margin: 10px;
    text-align: center;
}

.formBorde P {
    font-size: 15px;
    letter-spacing: .7px;
    padding-top: 6px;
}

/*
form{
    width: 700px;
    border: solid 1px white;
    padding: white;
}*/


.fotoClass {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0.2rem;
    text-align: center;
    width: 80%;
    margin: auto;


}

.fotoClass img {
    max-width: 100%;
}

button {
    color: white;
    background-color: #008080;
    border: solid 1px #008080;
    border-radius: 5px;
    margin: 10px;
}

.centradorow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.center {
    text-align: center;
}

.white {
    color: white;
}

.titulogaleria{
    text-align: center;
    color: #4B4B4B;
    font-family: "Cormorant Garamond", Sans-serif;
    font-size: 45px;
    font-weight: 400;
    font-style: normal;
    line-height: 1em;
    letter-spacing: 3.5px;
}
button a{
    color: white;
    text-decoration: none;
}

.presencia{
    background-image: url("../multimedia/Diseño\ sin\ título\ \(4\).png");
    background-size: cover;
    background-position: center;
    padding-top: 300px;
    padding-bottom: 300px;
}
.ornamento{
    width: 300px;
}